[Unit]
Description=Entrance Service
#Requires=network.target
#After=network.target

[Service]
ExecStart=/usr/local/bin/node /home/pi/project/entrance/app.js
# Required on some systems
WorkingDirectory=/home/pi/project/entrance
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=inherit
StandardError=inherit
SyslogIdentifier=Entrance
Environment=NODE_ENV=production NODE_PATH=/usr/local/lib/node_modules

[Install]
WantedBy=multi-user.target
